<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AmadeusAI.Tetris.Tetris" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AmadeusAI.AmadeusAISettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AmadeusAI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AmadeusAI.Tetris.Tetris>
            <setting name="FirstLaunchTetris" serializeAs="String">
                <value>True</value>
            </setting>
        </AmadeusAI.Tetris.Tetris>
        <AmadeusAI.AmadeusAISettings>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Bradley
</value>
            </setting>
            <setting name="PotatoPC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Screen" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftAlign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeySettings" serializeAs="String">
                <value>CTRL-SHIFT-F10</value>
            </setting>
            <setting name="HotkeyHide" serializeAs="String">
                <value>CTRL-SHIFT-F11</value>
            </setting>
            <setting name="HotkeyExit" serializeAs="String">
                <value>CTRL-SHIFT-F12</value>
            </setting>
            <setting name="IsColdShutdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUpdateConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="ScaleModifier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DpiWorkaround" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTimeWithUpdater" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IdleWait" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="ManualPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManualPositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManualPositionY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoStartTask" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="LastStarted" serializeAs="String">
                <value>2024-01-01</value>
            </setting>
            <setting name="CustomPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BotName" serializeAs="String">
                <value>Amadeus
</value>
            </setting>
            <setting name="HotKeyBckgHide" serializeAs="String">
                <value>CTRL-SHIFT-BG</value>
            </setting>
            <setting name="Button4Clicked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsbckgColour" serializeAs="String">
                <value />
            </setting>
            <setting name="Executables" serializeAs="String">
                <value />
            </setting>
            <setting name="ScaleTextModifier" serializeAs="String">
                <value>0</value>
            </setting>
        </AmadeusAI.AmadeusAISettings>
        <AmadeusAI.Settings>
            <setting name="LastStarted" serializeAs="String">
                <value />
            </setting>
        </AmadeusAI.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.0.0" newVersion="7.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.0.0" newVersion="7.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
